<!DOCTYPE html>
<html>
<head>
  
</head>
<body>


<form>

<table> 

<tr><td>E_NAME</td>
  <td>  <input  placeholder="name " type="text" name="name" id="nameid" required/></td></tr>

   <tr><td>E_AGE</td>
  <td>  <input placeholder="age" type="text" name="age" id="ageid" required/></td></tr>
  
  <tr><td>E_ID</td>
  <td>  <input placeholder="id " type="text" name="id" id="eid" required/></td></tr>

<tr><td>E_ADDRESS</td>
  <td>  <input placeholder="address " type="text" name="address" id="addressid" required/></td></tr>
  <<tr><td>EMAIL</td>
    <td>  <input placeholder="email " type="text" name="email" id="email"/></td></tr>
  
  <tr>   <td></td><td><input type="submit" name="login" value="login" ng-disabled="loginform.$invalid"></td></tr>

</table>
</form>
</body>
</html>