<!DOCTYPE html>


<html>
<head>

<title>home</title>
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {

  background-image: url("image.jpg");


  height: 100%; 


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.topnav {
    background-color: white;
    overflow: hidden;
}


.topnav a {
  float: left;
  color: brown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: white;
  color: brown;
}

</style>
</head>
<body class="bg">
    <table>

        <tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
        <tr></tr> <tr></tr> <tr></tr> <tr><td>     <div class="topnav" text-align="center">
            <a  href='/employee'>EMPLOYEE DETAILS</a></td></tr><tr></tr>
       <tr> <td>      <div class="topnav" text-align="center">
          <a  href="/loan">LOANS</a></td></tr><tr></tr>
        <tr>  <td>    <div class="topnav" text-align="center">
            <a  href="/salary">PAYMENTS</a></td></tr><tr></tr>
</div>
          </table>
<div class="topnav" align="center">
    <a></a><a></a> <a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a class="active" href="/insert">INSERT</a>
  <a href="/delete">DELETE</a>
  <a href="/view">VIEW</a>
  <a href="/update">UPDATE</a>
  <a href="/search">SEARCH</a>


</div>
<form action='/dispage' method='post'>
<table>
  <tr></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><h1>enter age to search </h1></tr>
<tr><td><input type='text' placeholder='age' name='age' id='age'></td></tr>
<tr>   <td></td><td><input type="submit" name="SEARCH" value="search" ></td></tr>

</table>
</form>
  </body>
  </html>
